.container{
    display: flex;
    background-color: gray;
    padding: 5px;
}
.div1{
    flex: 1; /*divid os filhos igualmente*/
    background-color: red;
    margin: 10px; /*margem externa*/
    padding: 10px; /*Margem Interna*/
    font-size: 18px;
}
.div2{
    flex: 1; /*divid os filhos igualmente*/
    background-color: red;
    margin: 10px; /*margem externa*/
    padding: 10px; /*Margem Interna*/
    font-size: 18px;
}
.div3{
    flex: 2; /*dviid os filhos igualmente*/
    background-color: red;
    margin: 10px; /*margem externa*/
    padding: 10px; /*Margem Interna*/
    font-size: 18px;
}
.container1{
    display: flex;
    background-color: rgb(79, 38, 38);
    padding: 5px;
}
.container1 div{
    width: 180px;
    background-color: red;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
}